<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="INPUT_DIR" value="C:\Users\zt8h-\source\repos\DataClassGen\DataClassGen\input" />
    <add key="OUTPUT_DIR" value="C:\Users\zt8h-\source\repos\DataClassGen\DataClassGen\output" />
    <add key="TEMPLATE_DIR" value="C:\Users\zt8h-\source\repos\DataClassGen\DataClassGen\template" />
    <add key="DATACLASS_TEMP_FILENAME" value="DataClassTemplate.txt" />
    <add key="PROPERTY_TEMP_FILENAME" value="PropertyTemplate.txt" />
    <add key="DATA_TYPE_FILENAME" value="DataTypeData.csv" />
    <add key="NAMESPACEE" value="dto" />

    <!--<add key="DATAGRID_COLUMN_TEMP_FILENAME" value="DataGridColumnTemplate.txt" />
    <add key="DATAGRID_TEMP_FILENAME" value="DataGridTemplate.txt" />
    <add key="BIND_DATAGRID_TEMP_FILENAME" value="BindDataGridTemplate.txt" />
    <add key="DATAGRID_EDITITEM_TEMP_FILENAME" value="DataGridEditItemTemplate.txt" />-->

    <add key="CFGNAMELIST_FILENAME" value="CfgFileNameList.txt" />
    <add key="NAMESPACE" value="dto" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>